.select {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sprite {
  height: 250px;
  border-radius: 20px;
  border: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  margin: 0px 15px;
}

.sprite:hover {
  transform: scale(1.2);
  border: 10px solid yellow;
  box-shadow: 0px 0px 10px rgb(255, 175, 54);
}

.select div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.select div:hover p {
  opacity: 1;
}

.select p {
  transition: 0.4s;
  opacity: 0;
  padding: 0;
  margin: 40px 0 0 0;
  font-size: 25px;
  color: yellow;
  text-shadow: 0px 0px 2px rgb(105, 3, 3);
  font-family: "Jersey 10", sans-serif;
}