.select {
  display: flex;
  position: relative; 
  justify-content: center;
  align-items: center;
}

.sprite{
  height: 250px;
  border-radius: 20%;
  border: 5px solid white;
  display: flex;
  justify-content:center;
  transition: 0.5s;
  margin: 0px 15px;
}

.sprite:hover{
  transform: scale(1.2);
  border: 10px solid yellow;
  box-shadow:0px 0px 10px rgb(255, 175, 54);
}