.divgeral{display: flex;
align-items: center;
}

.div1{
    background-color: rgb(0, 0, 0, 0.85);
    color: white;
    padding: 0px 10px 10px 30px;
    margin: 40px 20px;
    border-radius: 20px;
    width: 50%;
    height: 80%;
    text-align: left;
    padding: 0px 20px;
}

.foto{width: 100%;
border-radius: 10%;
transition: 0.5s;}

.foto:hover{
    transform: scale(1.2);
}

a:link{color:white}
a:visited{color: yellow;}
a:hover{
    color:yellow;
    text-shadow: 0px 0px 5px yellow;

}

.divisoria{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    border-radius: 40px;
    padding-left: 30px;
    margin: 20px 0px;
}

ul, h3 {
    
    padding-left: 10px;
  
}

.divisoriatexto{width: 80%; padding-left: 20px;}

.divisoriafoto{width: 50%; padding: 20px 10px;

}

.divisoriafoto img {border-radius: 100%}